<!-- Modal -->
<div class="modal fade" id="LogOut" tabindex="-1" role="dialog" aria-labelledby="LogOut" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= current_user.name %> info</h5>
        <ion-icon name="arrow-back" class="settings-button" data-dismiss="modal" aria-label="Close"></ion-icon>
      </div>
      <div class="modal-body">If you log out, you will be logged out of all your devices. 
<%= link_to 'Log out', destroy_user_session_path, method: :delete %>      </div>
    </div>
  </div>
</div>
