<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Budget App Info</h5>
        <ion-icon name="arrow-back" class="settings-button" data-dismiss="modal" aria-label="Close"></ion-icon>
      </div>
      <div class="modal-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, consequuntur! Earum optio a officia officiis. Amet, officiis, eveniet ex magni necessitatibus fugit facilis vero delectus obcaecati ab eius libero! Nemo.</div>
    </div>
  </div>
</div>
