<section class="welcome">
  <h1 class="welcome__title">Budget Planner</h1>
  <div class="welcome-image"><%= image_tag 'Wallet-cuate.svg', class: 'welcome-illustration' %></div>
  <div class="welcome-text">
    <h2 class="welcome-text__title">Track your bills like never before</h2>
    <p class="welcome-text__description">Builds a personal budget, based on your spending habits and preferences.</p>
  </div>
</section>
<div class="get-started"><%= button_to 'Get Started', user_session_path, class: 'add__save' %></div>
